body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: 'Franklin Gothic Medium', sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    color: white;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(77, 77, 77);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(102, 102, 102);
}

button:active{
    background-color: gray;
}

.operator-btn{
    background-color: #E27602;
}

.operator-btn:hover{
    background-color: #FF9800;
}
.operator-btn:active{
    background-color: #CC7A00;
}